In [34]:
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import sqllite3
URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
def Load_Data(URL):
    data = genfromtxt(URL, delimiter=',')# skiprows=1, converters={0: lambda s: str(s)})
    return data.tolist()

Base = declarative_base()

class cdb1(Base):
    #Tell SQLAlchemy what the table name
    __tablename__ = 'Adult.Data'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    Age = Column(Integer) 
    Employer = Column(VARCHAR)
    Id = Column(Integer, primary_key = True)
    Education = Column(VARCHAR)
    Experience = Column(Integer)
    Marital_Status = Column(Integer)
    Job_Role = Column(VARCHAR)
    Family_Status = Column(VARCHAR)
    Race = Column(VARCHAR)
    Gender = Column(VARCHAR)
    Pay1 = Column(VARCHAR)
    Pay2 = Column(VARCHAR)
    Hours_worked = Column(VARCHAR)
    Country = Column(VARCHAR)
    Salary_Range = Column(VARCHAR)

    #Create the database
    engine = create_engine('sqlite:///Adult.Data.db')
    Base.metadata.create_all(Adult.Data)

    #Create the session
    session = sessionmaker()
    session.configure(bind=Adult.Data)
    s = session()

    try:
        data = Load_Data(URL)

        for i in data:
            record = cdb1(**{
                'Age' :i[0]
                'Employer' :i[1]
                'Id' :i[2]
                'Education' :i[3]
                'Experience' :i[4]
                'Marital_Status' :i[5]
                'Job_Role' :i[6]
                'Family_Status' :i[7]
                'Race' :i[8]
                'Gender' :i[9]
                'Pay1' :i[10]
                'Pay2' :i[11]
                'Hours_worked' :i[12]
                'Country' :i[13]
                'Salary_Range' i[14]
            })
            s.add(record) #Add all the records

        s.commit() #Attempt to commit all the records
    except:
        s.rollback() #Rollback the changes on error
        print 'error in reading'
    finally:
        s.close() #Close the connection

SyntaxError: invalid syntax (<ipython-input-34-7450a39fbd27>, line 52)

In [32]:
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

table = sqlalchemy.Table('Adult.Data')
upd = table.update(values={'34','private','546785','HS-grad','4','Never-married','sales','Unmarried','Amer-Indian','Female','2304','0','45','United-States','<=50k'})
engine.execute(upd)

NameError: name 'sqlalchemy' is not defined

In [35]:
conn = sqlite3.connect('Adult.Data.db')
c = conn.cursor()
data3 = str(input('Please enter ID: '))
mydata = c.execute('DELETE FROM Adult.data WHERE Data=?', (data3,))
conn.commit()
c.close

NameError: name 'sqlite3' is not defined